table, th, td {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 30%;
    border: 1px solid white;
    font-size: large;
    border-collapse: collapse;
}

body {
    background-color: dimgrey;
    background-image: url("black.jpg");
    color: white;
    background-blend-mode: darken;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    text-align: center;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid white;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#new_game {
    font-size: x-large;
}

.button:hover {
    background: grey;
}

.button2 {
    font-size: 1em;
    padding: 10px;
    color: black;
    border: 2px solid black;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button2:hover {
    background: grey;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border: 5px solid grey;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    color: black;
}

.popup h2 {
    margin-top: 0;
    color: #333;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: grey;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }

    table {
        width: 60%;
    }
}